body {
	font-family: 'Roboto Light', Helvetica, Verdana, sans-serif;
	font-size: 1rem;
}
/*html, body {
	height: 100%;
}*/
input, textarea {
	outline: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
h1 {
	font-family: 'Roboto Thin';
	font-size: 1.4rem;
	color: #373435;
}
h2 {
	font-family: 'Roboto Light';
	font-size: 1.1rem;
	color: #333333;
}
h3 {
	font-family: 'Roboto Light';
	font-size: 0.9rem;
	color: #333333;
}
h4 {
	font-family: 'Roboto Light';
	font-size: 0.8rem;
	color: #333333;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.page-layout {
	height: 100%;
	border-top: 16px solid #b12318;
}
.page-container {
	padding-bottom: 5%;
	width: 94%;
	max-width: 600px;
	margin: 0 auto;
}
.top-line {
	position: fixed;
	z-index: 99;
	top: 0px;
	width: 100%;
	height: 1.5%;
	background-color: #c40809;
}
.bottom-line {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 1.5%;
	background-color: #c40809;
}
.page-container .logo-basic {
	margin: 0 auto;
}
.logo-basic {
	background-image: url("images/logo_md.png");
	background-size: cover;
	width: 170px;
	height: 152px;
}
.logo-basic.logo-basic-main {
	margin-top: 16%;
	margin-bottom: 16%;
}
.logo-inverse {
	background-image: url("images/logo_md_inverse.jpg");
	background-size: cover;
	width: 100px;
	height: 95px;
}
.logo-inverse.logo-inverse-inner {
	float: right;
}
.login-form-main {
	margin-left: 10px;
	margin-right: 10px;
}
.login-form-main .input-text {
/* margin-left: 60px;*/
}
.input-textarea {
	display: block;
	margin-top: 10px;
	color: #373435;
	border: 2px solid #e5e7ea;
	border-radius: 3px;
	width: 92%;
	height: 28px;
	font-size: 0.85rem;
	line-height: 0.85rem;
	padding: 10px;
	min-height: 160px;
}
.input-text, .input-text:focus {
	display: block;
	color: #373435;
	border: none;
	height: 28px;
	font-size: 1.1rem;
	line-height: 27px;
	padding-left: 80px;
	padding-right: 15px;
	width: 100%;
	background-image: none;
	box-sizing: border-box;
}
.input-text-container {
	box-sizing: border-box;
}
.login-form-main .form-row .icon-contaier {
	width: 60px;
	background-color: #ffffff;
	height: 28px;
	position: absolute;
	border-right: 2px solid #373435;
}
.login-form-main .form-row .icon-lock {
	position: absolute;
	margin-left: 20px;
	margin-top: 2px;
}
.login-form-main .form-row-bordered {
	margin-top: 8%;
	margin-bottom: 10%;
}
/*.form-row-bordered {
    border-bottom: 2px solid #373435;
    padding-bottom: 3%;
}*/

.form-row {
}
.inner-header-container {
	clear: both;
}
.inner-header-index {
	position: absolute;
	margin-right: 115px;
}
.inner-header-index h2 {
	margin-top: 10%;
	line-height: 1.6rem;
}
.choice-steps-pagination {
	clear: both;
	padding-top: 9%;	
	box-sizing:border-box;
}
.choice-steps-pagination .slide-line-left, .choice-steps-pagination .slide-line-center, .choice-steps-pagination .slide-line-right {
	height: 2px;
	background-color: #e5e7ea;
}
.choice-steps-pagination .slide-line-left {
	float: left;
	width:25%;
	margin-top: 16px;
	margin-left:-13px;
}

.choice-steps-pagination .slide-line-center {
	float: left;
	width:25%;
	margin-top: 16px;
}

.choice-steps-pagination .slide-line-right {
	float: left;
	width:25%;
	margin-top:16px;
}

.choice-steps-pagination .step-1 {
	float:left;
}
.choice-steps-pagination .step-2 {
	float:left;
	margin-left:-13px;
}
.choice-steps-pagination .step-3 {
	float:left;
	margin-left:-13px;
}
.choice-steps-pagination .step-4 {
	float:left;
	margin-left:-13px;
}


.step-number-index {
	position:relative;
	background-color: #e5e7ea;
	width: 26px;
	height: 26px;
	border-radius: 26px;
	font-size: 0.95rem;
	text-align: center;
	line-height: 1.7rem;
	color: #ffffff;
	border: 4px solid #ffffff;
}
.step-active {
	background-color: #fecb2e !important;
}
label.label-item {
	color: #b12318;
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 4%;
	font-size: 0.80rem;
	line-height: 0.86rem
}
label.label-item .label-index {
	margin-top: 5px;
}
.interview-row.column-1 label.label-item {
	width: 100% !important;
	margin-top: 10px;
	margin-bottom: 10px;
}
.interview-row.column-1 label.label-item .radio-button {
	float: left !important;
	margin-top: 5px !important;
}
.interview-row.column-1 label.label-item .label-index {
	text-align: left !important;
	margin-left: 34px !important;
}
.interview-row.column-3 label.label-item {
	width: 33.33% !important;
}
.interview-row.column-4 label.label-item {
	width: 25% !important;
}
.interview-row.column-6 label.label-item {
	width: 16.66% !important;
}
.interview-container {
	clear: both;
	padding-top: 20px;
}
.interview-container .steps-list-container {
	padding-top: 28%;
}
.interview-row {
	clear: both;
	border-bottom: 1px solid #fff2cb;
	padding-top: 2%;
	padding-bottom: 3%;
	margin-top: 1%;
}
.clear {
	clear: both;
}
.question-index {
	font-size: 0.95rem;
	clear: both;
	margin-top: 3%;
	line-height: 1.15rem;
}
.question-index.sub-item {
	font-size: 0.90rem;
	font-family: 'Roboto Light Italic';
	margin-top: 5% !important;
}
.page-bottom-nav {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 2%;
}
.page-bottom-nav .prev-button, .page-bottom-nav .next-button {
	display: inline-block;
	font-size: 1.05rem;
}
.page-bottom-nav .prev-button {
	padding: 0px 16px 0px 16px;
}
.page-bottom-nav .next-button {
	padding: 0px 16px 0px 17px;
}
.page-bottom-nav .prev-button {
	color: #bd443a;
}
.page-bottom-nav .next-button {
	border-left: 1px solid #bd443a;
	color: #deac13;
}
.page-bottom-nav.nav-bottom-fixed {
	position: fixed;
	bottom: 3%;
	width: 100%;
	left: 0px;
}
.slide-item-nav {
	position: absolute;
	z-index: 99;
	bottom: 30px;
}
.step-item-container {
	text-align: center;
	width: 170px;
	height: 170px;
	border-radius: 85px;
	border: 3px solid #b12318;
	margin: 0 auto;
}
.step-img-container {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-top: 45px;
}
.step-img-container img {
	display: block;
	width: 100%;
	height: 100%;
}
.step-item-number-index {
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 4px solid #fecb2f;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	background-color: #b12318;
}
.step-item-description {
	color: #333333;
}
.step-item-description h2 {
	color: #333333;
	margin-bottom: 5px;
}
.interview-container .alert-message-container {
	margin-top: 20px;
}
.alert-message-container {
	font-family: 'Roboto Regular';
	background-color: #c40809;
	color: #FFF;
	padding: 10px 10px 10px 41px;
	font-size: 0.68rem;
	border-radius: 3px;
	background-image: url(images/icons/icon-warning.png);
	background-position: left 10px top 8px;
	background-repeat: no-repeat;
}
.center-posititon {
	margin: 0 auto !important;
}
.item-submit-container {
	height: 46px;
	margin-top: 30px;
	text-align: center;
}
.item-submit-container .button-red {
	margin-top: -5px
}
/* Icons */
.icon-lock {
	background-image: url("images/icons/icon-lock.png");
	background-size: cover;
	width: 20px;
	height: 26px;
	display: inline-block;
}
.icon-warning-access {
	background-image: url("images/icons/icon-warning-access.png");
	background-size: cover;
	width: 40px;
	height: 58px;
	display: block;
}
.icon-thank-you {
	background-image: url("images/icons/icon-thank-you.png");
	background-size: cover;
	width: 80px;
	height: 98px;
	display: block;
}
/* END Icons */

/* Buttons */
.button-red {
	border: none;
	font-size: 1.2rem;
	font-family: 'Roboto Bold';
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	background-color: #b12318;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
.button-red:focus {
	background-color: #f72717;
}
/* END Buttons */

/* Radio Buttons */
.radio-button {
	display: inline-block;
 *display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 22px;
	height: 22px;
	background: url(images/icons/radio.png) no-repeat;
	border: none;
	cursor: pointer;
}
.radio-button {
	background-position: 0px 0;
}
.radio-button.checked {
	background-position: -22px 0;
}

/* END Radio Buttons */

/* Media queries */
@media screen and (min-height: 0px) and (max-height: 580px) {
.logo-basic.logo-basic-main {
	margin-bottom: 12%;
}
.logo-basic {
	width: 140px;
	height: 125px;
}
.interview-container .steps-list-container {
	padding-top: 14%;
}
.step-img-container {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	margin-top: 45px;
}
.step-item-container {
	width: 160px;
	height: 160px;
	border-radius: 85px;
}
.button-red {
	font-size: 1.1rem;
	height: 46px;
	line-height: 46px;
}
}

/* END Media queries */

/* Horizontal posititon media queries */

@media screen and (min-height: 320px) and (max-height: 4790px) {
.page-container {
    padding-bottom: 0%;
}
.logo-basic {
	width: 105px;
	height: 96px;
}
.logo-basic.logo-basic-main {
    margin-top: 6%;
    margin-bottom: 7%;
}
.login-form-main .form-row-bordered {
    margin-top: 4%;
    margin-bottom: 5%;
}

/*.logo-inverse {
    width: 86px;
    height: 81px;
}
.inner-header-index h2 {
    margin-top: 7%;
}


.interview-container .steps-list-container {
    padding-top: 2%;
}
.step-item-container {
    width: 110px;
    height: 110px;
}
.step-img-container {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 25px;
}*/

.bx-wrapper .bx-pager {
    position: relative !important; 
    bottom: -20px !important; 
    
}
.icon-warning-access {
    width: 28px;
    height: 41px;
}
.icon-thank-you {
    width: 61px;
    height: 75px;
}

.icon-warning-access {
    width: 28px;
    height: 41px;
}
.icon-thank-you {
    width: 61px;
    height: 75px;
}

}

